@model List<Skywide.Models.PostViewModel>

@foreach (var post in Model)
{
    <div class="post">
        <a class="post-title" href="@Url.Action("PostPage", "Post", new { slug = post.Slug })">@post.Title</a>
        <p class="post-shortcontent">@post.ShortContent</p>
    </div>
}
