@model Skywide.Models.IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="~/css/main.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/js/infinite-scroll-index.js" defer></script>
	<script src="~/js/autocomplete-search.js" defer></script>
</head>
<body>
	<div class="whole-page">
		<div class="toolbar">
			<div class="toolbar-left">
				<div style="width:100%; height:10px;"></div>
				<a class="create-post" href="~/CreateNewPost/CreateNewPost">New post <i style="margin-left:5px;" class="fa-solid fa-plus"></i></a>
				<a class="create-post" href="~/CreateNewCategory/CreateNewCategory" style="font-size:1.6em;">New category <i style="margin-left:5px;" class="fa-solid fa-plus"></i></a>
			</div>
			<div class="toolbar-mid">
				<form id="search-form" method="get" asp-action="Index" asp-controller="Index">
					<input type="text" class="search" id="searchQuery" name="searchQuery" placeholder="Search by title..." value="@ViewData["searchQuery"]" />
				</form>
				<ul id="suggestions" hidden></ul>
			</div>
			<div class="toolbar-right">
				<a class="user-profile" href="~/Account/Account">@Model.Username</a>
				<form class="logout" method="post" asp-controller="Account" asp-action="Logout">
					<button type="submit" class="logout-button" title="Logout">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="page-main">
			<div class="filler"></div>
			<div class="user-wall">
				<p class="content-name">New posts!</p>
				<div class="wall-content">
					<partial name="_PostsPartial" model="Model.Posts" />
				</div>
			</div>
			<div class="threads">
				<p class="content-name">New categories!</p>
				<div class="explore-threads">
					<partial name="_CategoriesPartial" model="Model.Categories" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>