@page
@model Skywide.Views.Index.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
	<div class="whole-page">

		<div class="page-title d-flex justify-content-center align-items-center w-100">
			<h1>Skywide.com</h1>
		</div>

		<div class="page-main">
		</div>

	</div>
</body>
</html>
